body {
    background-color: rgb(255, 255, 255);

}

header {
    background-image: url(foto1.jpeg);
    height: 200px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

nav {
margin-top: 21px ;}

li{display: inline;}

.titulo {
    color: black; 
    text-shadow: 
      1px 1px 0 white,  
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white; 
    margin: 0;
    font-size: 5rem;
    font-family: "rye";
}
.rye-regular {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
  }

 
 aside{
    margin-top: 21px;
    }